.card {
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
   
}

body{
    background: #6b555f;
}

.btn {
    background: #200e26;
}

.btn:hover {
    background: lightslategray;
}

.card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}



